<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>Data Science Community</h1>
      <p>Sign up to receive the Data Science Community Newsletter and stay up to date
        on the latest information.
      </p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="<%='//community.us7.list-manage.com/subscribe/post?u=' + (Rails.env.production? ? ENV['MC_KEY'] : 'abc') + '&amp;id=' + (Rails.env.production? ? ENV['MC_ID'] : 'abc')%>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate role="form">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
            </div>
          </div>
        </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="<%='b_' + (Rails.env.production? ? ENV['MC_KEY'] : 'abc') + '_' + (Rails.env.production? ? ENV['MC_ID'] : 'abc')%>" tabindex="-1" value=""></div>
          
        <div class="row">
          <div class="col-lg-6">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg">
          </div>
        </div>
      </form>
      </div>
<!--End mc_embed_signup-->
  </div>
  <!-- /.col-lg-12 -->
</div>
